:root{
  --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --white-color: rgb(255, 255, 255);
  --gray-color: gainsboro;
  --primary-color: rgb(45, 45, 253);
  --accent-color: rgb(255, 201, 39);
}

body{
  background-color: var(--gray-color);
  font-family: var(--font);
  margin: 0;
}

h3,h2,p,h4,h5{
  margin: 0;
  padding-bottom: 5px;
  padding-left: 5px;
}

.grid{
  display: grid;
  grid-template-columns: minmax(190px,.7fr)  3fr 1fr;
  grid-template-rows: auto 380px 350px auto;
}

.grid > *{
  padding: 0 10px;
}
.main,.announce,.trends{
  padding-top: 20px;
}

.header{
  grid-column: span 2;
  grid-row: 1;
  background-color: var(--white-color);
}
.logo{
  display: flex;
  justify-self: left;
  align-items: center;
}
.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px black solid;
}

.sidebar{
  grid-column: 1;
  grid-row: 1/4;
  background-color: var(--primary-color);
  color: var(--white-color);
  ul{
    padding: 20px;
    flex-direction: column;
  }
  a{
    gap: 10px;
    display: flex;
    align-items: center;
    color: inherit;
  }
}

.sidebar svg{
  /* align-self: center; */
  fill: var(--white-color);
  height: 1.5em;
  width: 1.5em;
}

.card-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.card{
  display: flex;
  background-color: var(--white-color);
  min-width: 250px;
  min-height: 200px;
  border-radius: 10px;
}
.card > :first-child{
  padding: 0;
  width: 20px;
  height: inherit;
  background-color: var(--accent-color);
  border-radius: 10px 0px 0px 10px;
}
.card > *{
  padding: 20px 10px;
}

ul{
  list-style-type: none;
  gap: 10px;
}

a{
  text-decoration: none;
}

.flex{
  display: flex;
  justify-content: space-between;
}

button{
  border-radius: 10px;
  padding: 10px;
  color: var(--white-color);
  background-color: var(--primary-color);
  font: inherit;
  border: none;
}

.footer{
  grid-column: span 2;
  grid-row: 4;
  background-color: var(--white-color);
}

.announce{
  grid-column: 3;
}
.announce-area, .trends-area{
  background-color: var(--white-color);
  padding: 10px 20px;
}
.announce-area p , .trends-area span{
  font-size: .8em;
  padding-bottom: 0;
}

.trends{
  grid-column: 3;
}
.trends-area img{
  scale: 0.7;
}
.trends-area h5, .sidebar h3{
  padding: 0;
}